/*Formatação da minha página*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:rgba(4, 6, 128, 0.858);
    color:rgb(13, 161, 161);
}

.cabecalho{
    background-color: rgb(64, 76, 241);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #6404ff;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    color:rgb(17, 0, 115)
}

.menu a{
    color:whitesmoke;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: color 0.6s ease;
}

.container{
    max-width: 1200px auto;
    margin: 30px auto;
    padding: 0 10px;
}

.titulo-secao{
    font-size: 32px;
    margin-bottom: 5px;
    text-align: center;
}

.subtitulo{
    font-size: 30px;
    text-align: center;
}

.grade-filme{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;

}

.card-filme{
    background-color:rgb(22, 0, 110);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px #826ffd;
    display: flex;
    flex-direction: column;
}
.card-filme:hover{
    transform: translateY(-10px);
    box-shadow: 0 5px 10px #11016d;
}

.poster{
    width: 300px;
    height: 450px;
    object-fit: cover;
}

.conteudo-filme{
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.genero{
    font-size: 12px;
    color: rgb(153, 115, 241);
    text-transform: uppercase;
    font-weight: bold;
    margin: 4px;
}

.nome-filme{
   font-size: 25px; 
   margin: 5px 0 10px 0;

}

.sinopse{
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 1;
    flex-grow: 1;

}

.sessoes{
    font-size: 15px;
    margin: 15px;
}

.horário{
    display: inline-block;
    background-color: #6200ff;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 4px;
    color: black;
}

.botao-comprar{
    display: block; 
    text-align: center;
    background-color: #7848f0;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}
.botao-comprar:hover{
    background-color: rgb(69, 83, 233);
}

.area_inscricao{
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.coluna_form{
    flex: 1;
    min-width: 320px;
    background-color: #11016d;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px #7848f0;
}

.coluna-midia{
    flex: 1;
    min-width: 320px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.coluna_form label{
    font-size: 14px;
    font-weight: bold;
    color: #8a7cf7;
}
.coluna_form input[type= "text"],
.coluna_form input[type= "password"],
.coluna_form input[type= "email"],
.coluna_form input[type= "date"],
.coluna_form select{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: #210280;
    border-radius: 10px;
    color: #c6c0f3;
    font-size: 14px;
}

.btn-enviar{
    background-color:royalblue;
    color: rgb(9, 2, 89);
    border: none;
    padding: 12px 24px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
.btn-enviar:hover{
    background-color: #4628ed;
}

.btn-limpar{
    background-color:royalblue;
    color: rgb(9, 2, 89);
    border: none;
    padding: 12px 24px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}
.btn-limpar:hover{
    background-color: #4628ed;
}

.container-em-breve{
    max-width: 1200px auto;
    margin: 30px auto;
    padding: 0 10px;
}

.grade-filmes-em-breve{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;

}

.card-filme-em-breve{
    background-color:rgb(22, 0, 110);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px #826ffd;
    display: flex;
    flex-direction: column;
}
.card-filme-em-breve:hover{
    transform: translateY(-10px);
    box-shadow: 0 5px 10px #11016d;
}

.poster-em-breve{
    width: 300px;
    height: 450px;
    object-fit: cover;
}

.conteudo-filme-em-breve{
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.genero-em-breve{
    font-size: 12px;
    color: rgb(153, 115, 241);
    text-transform: uppercase;
    font-weight: bold;
    margin: 4px;
}

.nome-filme-em-breve{
   font-size: 25px; 
   margin: 5px 0 10px 0;

}

.sinopse-em-breve{
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 1;
    flex-grow: 1;

}

.container-preco{
    max-width: 1500px;
    margin: 5px auto;
    font-size: 20px;
    background-color: #11016d;
    padding: 0 5px;
}

.cabecalho-preco{
    font-size: 20px;
    background-color: #4628ed;
    color: #110265;
    padding: 15px;
}


.preco{
   text-align: center;
   padding: 15px; 
}

.tabela-cardapio{
    width: 80%;
    border-radius: 10px;
}

.tabela-preco{
    width: 100%;
    background-color: #11016d;
    text-align: left;
    border-radius: 10px;
    font-size: 15px;
}
.tabela-preco th{
    background-color: #0b0142;
    color:rgb(243, 243, 245);
    padding: 16px 20px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid rgb(13, 6, 139);
}
.tabela-preco{
    padding: 16px 20px;
    border-bottom: 1px solid rebeccapurple;
    color: aliceblue;

}